// CSS RESET
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

// VARIABLES and MIXINS
@clr-purple-500: #a729f5;
@clr-grayish-blue-200: #abc1e1;
@clr-red-400: #ee5454;
@clr-gray-800: #313e51;
@clr-gray-700: #3b4d66;
@clr-gray-600: #626c7f;
@clr-gray-0: #f4f6fa;
@clr-white: #ffffff;
@clr-green-500: #26d782;

@ff-regular: "Rubik", sans-serif;
@fs-huge: 9rem;
@fs-large: 4.25rem;
@fs-bigger: 2.5rem;
@fs-big: 2.25rem;
@fs-regular: 1.75rem;
@fs-very-small: 1.125rem;
@fs-small: 1.5rem;
@fs-smaller: 1.25rem;
@fs-smallest: 0.875rem;
@fw-light: 300;
@fw-medium: 500;
@fw-bold: 700;

@lh-100: 1;
@lh-150: 1.5;

.heading-display {
	font-size: clamp(5.5rem, 18.75vw, @fs-huge);
	line-height: @lh-100;
	font-weight: @fw-medium;
}

.heading-l {
	font-size: clamp(@fs-bigger, 8.85vw, @fs-large);
	line-height: @lh-100;
}
.heading-l-regular {
	.heading-l();
	font-weight: @fw-light;
}

.heading-l-bold {
	.heading-l();
	font-weight: @fw-bold;
}

.heading-m-medium {
	font-size: clamp(@fs-smaller, 4.69vw, @fs-big);
	line-height: @lh-100;
	font-weight: @fw-medium;
}

.heading-s-medium {
	font-size: clamp(@fs-very-small, 3.56vw, @fs-regular);
	line-height: @lh-100;
	font-weight: @fw-medium;
}

.body-m-regular {
	font-size: clamp(@fs-very-small, 3.125vw, @fs-small);
	line-height: @lh-150;
	font-weight: @fw-medium;
}

.body-s-italic {
	font-size: clamp(@fs-smallest, 2.6vw, @fs-smaller);
	line-height: @lh-150;
	font-style: italic;
}

.flex(@align, @justify) {
	display: flex;
	align-items: @align;
	justify-content: @justify;
}

// GENERAL STYLES
body {
	background-image: url(assets/images/pattern-background-mobile-light.svg);
	.flex(center, flex-start);
	flex-direction: column;
	font-family: @ff-regular;
	background-color: @clr-gray-0;
	color: @clr-gray-800;
	min-height: 100vh;

	@media (min-width: 48rem) {
		background-image: url(assets/images/pattern-background-tablet-light.svg);
		background-repeat: no-repeat;
	}

	@media (min-width: 90rem) {
		justify-content: center;
		background-image: url(assets/images/pattern-background-desktop-light.svg);
		background-size: cover;
	}
}
main {
	padding: clamp(1.5rem, 8.33vw, 4rem);
	// .flex(center, center);
	// text-align: left;
	// flex-direction: column;
	width: 100vw;
	max-width: 74.5rem;
	// gap: 1rem;

	@media (min-width: 90rem) {
		padding: 0;
	}
}

header {
	.flex(center, space-between);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: @clr-gray-800;
	.flex(center, flex-start);
	gap: 1rem;
	font-size: @fs-smaller;
	font-weight: 500;
}

.quiz {
	padding-top: 2rem;
	width: 100%;
}
.title {
	.heading-l-bold();
	.flex(flex-start, center);
	flex-direction: column;
	gap: clamp(0.5rem, 2.08vw, 1rem);
	span {
		.heading-l-regular();
	}
}
.theme-title {
	.flex(center, flex-start);
	gap: 1rem;
	.heading-s-medium();

	.title__icon {
		background-color: #f6e7ff; //TEMPORARY! Should be assigned programatically
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0;
}

.list-item {
	width: 100%;
	background-color: @clr-white;
	padding: 0.75rem;
	border-radius: 0.75rem;
	cursor: pointer;
}

.icon {
	width: clamp(2.5rem, 7.125vw, 3.5rem);
	height: clamp(2.5rem, 7.125vw, 3.5rem);
	display: block;
	display: grid;
	place-content: center;
	border-radius: 0.3rem;
	img {
		width: clamp(1.794rem, 5.09vw, 2.5rem);
		height: clamp(1.794rem, 5.09vw, 2.5rem);
	}
}

.btn {
	background-color: @clr-purple-500;
	border-radius: 0.75rem;
	padding: clamp(1rem, 4.17vw, 2rem);
	color: @clr-white;
	.heading-s-medium();
	text-transform: capitalize;
	border: none;
	cursor: pointer;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.6;
	}
}

.error {
	.flex(center, center);
	gap: 1rem;
	color: @clr-red-400;
	display: none;
}

// COMPONENTS
.header {
	width: 100%;
	.theme-switcher {
		.flex(center, space-evenly);
		gap: 0.5rem;
		.theme-icon {
			width: clamp(1rem, 4.07vw, 2rem);
			height: clamp(1rem, 4.07vw, 2rem);
		}

		.theme-switcher__toggle {
			position: relative;
			display: inline-block;
			width: clamp(2rem, 6.11vw, 3rem);
			height: clamp(1.25rem, 3.56vw, 1.75rem);

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 1rem;
				background-color: @clr-purple-500;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: clamp(1rem, 3.25vw, 1.5rem);
				width: clamp(1rem, 3.25vw, 1.5rem);
				border-radius: 50%;
				// left: clamp(2px, 1.017vw, 8px);
				bottom: 2px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
			input:checked + .slider:before {
				-webkit-transform: translateX(0.9rem);
				-ms-transform: translateX(0.9rem);
				transform: translateX(0.9rem);

				@media (min-width: 48rem) {
					-webkit-transform: translateX(1.3rem);
					-ms-transform: translateX(1.3rem);
					transform: translateX(1.3rem);
				}
			}
		}
	}
}

.menu {
	display: none;
	@media (min-width: 90rem) {
		.flex(flex-start, space-between);
		margin-top: 4rem;
		display: none;
	}
	header {
		.flex(flex-start, flex-start);
		flex-direction: column;
		.menu__cta {
			margin-top: clamp(1rem, 3.33vw, 3rem);
			.body-s-italic();
			color: @clr-gray-600;
		}
	}

	.menu__list {
		padding: clamp(2.5rem, 8.33vw, 4rem) 0;
		width: 100%;
		@media (min-width: 90rem) {
			max-width: 33.75rem;
			padding: 0;
		}
		.menu__list-item {
			a {
				.menu__icon {
					border-radius: 0.5rem;

					&:nth-child(1) {
						background-color: #fff1e9;
					}
					&:nth-child(2) {
						background-color: #e0fdef;
					}
					&:nth-child(3) {
						background-color: #ebf0ff;
					}
					&:nth-child(4) {
						background-color: #f6e7ff;
					}
				}
			}
		}
	}
}

.questions {
	// display: none;
	@media (min-width: 90rem) {
		.flex(flex-start, space-between);
		margin-top: 4rem;
	}
	header {
		.flex(flex-start, center);
		flex-direction: column;
		gap: clamp(0.75rem, 3.515vw, 1.688rem);
		@media (min-width: 90rem) {
			max-width: 35.25rem;
		}
		.questions__score {
			.body-s-italic();
			color: @clr-gray-600;
		}

		.questions__question {
			.heading-m-medium();
		}
		.questions__progress {
			width: 100%;
			background-color: @clr-white;
			border-radius: 1rem;
			transition: width 300ms ease;
			margin-top: 1.5rem;
			margin-bottom: 2.5rem;

			&[value]::-webkit-progress-bar {
				width: 100%;
				height: 1rem;
				border-radius: 1rem;
				background-color: @clr-white;
				border: solid 3px @clr-white;
				transition: width 300ms ease;
			}

			&[value]::-webkit-progress-value {
				border-radius: 1rem;
				background-color: @clr-purple-500;
				transition: width 300ms ease;
			}
		}
	}

	.questions__main {
		display: grid;
		gap: clamp(0.75rem, 4.16vw, 2rem);
		width: 100%;
		@media (min-width: 90rem) {
			max-width: 35.25rem;
		}

		.questions__answer {
			.heading-s-medium();

			.questions__answer-btn {
				background-color: white;
				width: 100%;
				border: none;
				.flex(center, flex-start);
				gap: 1rem;

				&:active,
				&:focus {
					border: 2px solid @clr-purple-500;
					.icon {
						background-color: @clr-purple-500;
					}
				}

				&.correct {
					border: 2px solid @clr-green-500;
					.icon {
						background-color: @clr-green-500;
					}
					.questions__answer-main {
						.flex(center, space-between);
						width: 100%;
					}
				}
				&.incorrect {
					border: 2px solid @clr-red-400;
					.icon {
						background-color: @clr-red-400;
					}
					.questions__answer-main {
						.flex(center, space-between);
						width: 100%;
					}
				}
			}
			.icon {
				background-color: @clr-gray-0;
			}
		}
	}
}

.finish {
	.flex(center, center);
	flex-direction: column;
	display: none;
	@media (min-width: 90rem) {
		flex-direction: row;
		.flex(start, space-between);
		margin-top: clamp(2.5rem, 8.33vw, 4rem);
		display: none;
	}

	.finish__container {
		display: grid;
		margin-top: clamp(2.5rem, 8.33vw, 4rem);
		width: 100%;
		@media (min-width: 90rem) {
			max-width: 35.25rem;
			margin-top: 0;
		}
		.finish__main {
			.flex(center, center);
			border-radius: 0.75rem;
			flex-direction: column;
			background-color: @clr-white;
			margin-bottom: clamp(0.75rem, 4.16vw, 2rem);
			padding: clamp(2rem, 6.25vw, 3rem);

			.finish__total {
				color: @clr-gray-600;
				.body-m-regular();
			}

			.finish__score {
				.heading-display();
				margin-top: clamp(1rem, 5.21vw, 2.5rem);
				margin-bottom: 1rem;
			}
		}
	}
}
